{% extends "base.html" %}

{% block title %} About | XuLiang Qi{% endblock %}


{% block content %}
<section class="about-info-container">
    <div class="about-main-text-container">
        <h2 class="about-main-title">About Me</h2>
        <p class="about-text">I am passionate about developing 
            and deploying machine learning applications to 
            address real-world issues. By integrating techniques 
            from software development, my aim is 
            to create powerful yet efficient solutions that 
            helps someone, somewhere.
        </p>
    </div>
</section>

{% endblock %}