<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>
        XuLiang Qi
    </title>
</head>
<body>
    <header >
        <p class="text-title">Welcome.</p>
        <p class="text-body"> My name is XuLiang Qi</p>
        <p class="text-body"> Software Engineer, Machine Learning Engineer </p>
    </header>
    <main class="background-bottom">
    </main>
</body>
<footer class="text-small">© copyright 2024 XuLiang Qi</footer>
<button class="button"> Find out more</button>

</html>