{% extends "base.html" %}

{% block title %}Connect with me{% endblock %}

{% block content %}
<div class="info-container">
    <div class="info-text-container">
        <h1 class="title">Let's connect!</h1>
        <p class="paragraph">Add me on Linkedin, or shoot me an email!</p>
        <p class="paragraph">Click on the Linkedin logo to jump to my profile.&#8594</p>
    </div>
    <a href="https://www.linkedin.com/in/xuliang-qi/" class="linkedin-photo">
        <img src="../static/imgs/linkedin-black.png" alt="linked logo"  class="linkedin-photo">
    </a>
    
</div>
{% endblock %}