{% extends "base.html" %}

{% block title %}Contact| XuLiang Qi{% endblock %}

{% block content %}
<section class="contact-container">
    <div class="contact-text-container">
        <h1 class="contact-title">Let's connect!</h1>
        <p class="contact-paragraph"><b>Click</b> on the <b>logo</b> and fly to my profile &#8594</p>
    </div>
    <a href="https://www.linkedin.com/in/xuliang-qi/" class="linkedin-photo-container" target="_blank">
    <img src="../static/imgs/linkedin-black.png" alt="linked logo"  class="linkedin-photo">
    </a>
    
</section>
{% endblock %}