{% extends "base.html" %}

{% block title %}XuLiang Qi | Software Developer | Machine Learning Engineer{% endblock %}

{% block content %}
<section class="info-container">
    <div class="info-text-container">
        <h1 class="home-title">Hello there!</h1>
        <p class="home-paragraph">I'm XuLiang</p>
        <p class="home-paragraph">a software developer, a machine learning engineer</p>
    </div>
    <img src="../static/imgs/casual.jpeg" alt="" class="home-photo">
</section>
{% endblock %}