{% extends "base.html" %}

{% block title %}Projects | XuLiang Qi{% endblock %}

{% block content %}
<!-- Project headers-->
<section class="project-info-container">
    <div class="project-text-container">
        <h1 class="project-title">My Projects</h1>
        <h2>Here are my personal projects</h2>
    </div>

</section>
<!-- Add grid here to show case projects-->
<section class="project-container">
    <!--
        projects
    -->
    <div class="project-card">
        <p> Project 1</p>
    </div>

    <div class="project-card">
        <p> Project 2</p>
    </div>

    <div class="project-card">
        <p> Project 3</p>
    </div>

    <div class="project-card">
        <p> Project 4</p>
    </div>

</section>

{% endblock %}