.contact-container {
  display: flex;
  flex-wrap: auto;
  align-items: center;
  justify-content: center;
  padding-top: 28vh;
  font-family: "Montserrat";
  padding-bottom: 200px;
}
.contact-text-container {
  align-content: center;
  width: 30vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
.contact-title {
  align-content: left;
  font-size: $font-l;
}
.contact-paragraph {
  font-size: $font-m;
}
.linkedin-photo-container {
  width: 250px;
  height: 250px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.linkedin-photo {
  width: 280px;
  height: 280px;
  transition: 1s ease;

  &:hover {
    -webkit-transform: rotateZ(-3deg);
    -ms-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }
}
