.info-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    width: auto;
    height: auto; 
    text-align: left; 
}
.info-text-container{
    margin-left:20vw;
    margin-top:28vh;
}
.title{
    margin-top:150px;
    margin-right:100px;
    font-size:$font-xl;
}

.paragraph{
    font-size:$font-m;
}
.home-photo{
    position:relative;
    margin-right: 20vw;
    margin-top:20vh;
    width:400px;
}