@import "variables";

.menu-bar-container{
    position:fixed;
    height: 75px;
    top:    10px;
    left:   10px;;
    right:  10px;
    background-color:rgb(0, 0, 0);
    border-radius: 50px;
    z-index: 2;
}

.logo{
    height:50px;
    padding-left:20px;
    padding-top:10px;
    transition: transform 0.5s ease; 
    &:hover{
        transform: scale(1.1);
    }
}

.menu-button{
    color:white;
    font-size:$font-l;
    display:inline-block;
    position:fixed;
    top: 30px;  
    margin: 0 40px;
    text-decoration: none;
    //line-height: 1em;
    & svg {
      position: absolute;
      left: 0;
      top: -50%;
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
      pointer-events: none;   
    }
    & path {
        transition: stroke-dashoffset 300ms linear;
      stroke-width: 2.0;
      stroke: white;
      fill: none;
      stroke-linecap: round;
    }
    &:hover path{
      stroke-dashoffset: 0;
    } 
}
.menu-about{
    @extend .menu-button;
    right: 320px;
}

.menu-project{
    @extend .menu-button;
    right: 200px;
}

.menu-contact{
    @extend .menu-button;
    right: 80px;
}


.github-menu{
    @extend .logo;
    position:fixed;
    top: 15px;  
    right:35px;
    height: 40px;
    transition: 1s ease;
    &:hover{
        -webkit-transform: rotateZ(-15deg);
        -ms-transform: rotateZ(-15deg);
        transform: rotateZ(-15deg);
        }
}